* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Teko", serif;
}

:root {
    font-size: calc(10px + 0.5vw);
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
    height: 5rem;
    background-color: rgba(192, 191, 191, 0.592);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#logo {
    display: flex;
    align-items: center;
}

#logo > img {
    height: 3.5rem;
}

#logo > h1 {
    font-size: 3.5rem;
}

#sidebarTogglerMobile {
    height: 3.5rem;
    width: 3.5rem;
    background: none;
    scale: 0;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 2.25rem;
    font-size: 1.75rem;
    background-color: rgb(111, 0, 255);
}

footer > p > a:visited{
    color: black
}

/* Main */ 

main {
    display: flex;
    min-height: calc(100vh - 7.25rem);
    background-color: black;
}

#sidebar {
    width: 22.5vw;
    padding-left: 2.5vw;
    background-color: rgba(174, 174, 210, 0.526);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} 

#currentProject {
    display: flex;
    flex-direction: column;
    width: 72.5vw;
    padding-right: 2.5vw;
    background-color: rgb(255, 255, 255);
}

/* sidebar */

#defaultProjects {
    margin-top: 1rem;
}

.projectContainer {
    display: flex;
    align-items: center;
    margin: 0 1.25rem;
    border-radius: 0.5rem;
}

.projectContainer:hover, .customProjectContainer:hover {
    background-color: rgb(192, 191, 191, 0.592);
}

.projectContainer.active {
    background-color: red;
}

.projectContainer > p {
    font-size: 1.75rem;
}
.projectIcon {
    height: 2rem;
}

#customProjects > p {
    font-size: 2rem;
    margin-left: 1rem;
}

#newProjectName {
    width: 65%;
    height: 2rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

#btnContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

#createProjectBtn, #cancelProjectBtn {
    padding: 0.5rem 1.05rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

#createProjectBtn {
    background-color: rgba(0, 155, 0, 0.75);
}

#cancelProjectBtn {
    background-color: rgba(255, 43, 43, 0.750);
}

.customProjectContainer{
    display: flex;
    justify-content: space-between;
    margin: 0 1.25rem;
    border-radius: 0.5rem;
}

.leftSideCustomProject, .rightSideCustomProject {
    display: flex;
    align-items: center;
}

.leftSideCustomProject > p {
    font-size: 1.75rem;
}

.activeProject {
    border: 3px solid rgba(192, 191, 191, 0.592);;
}

/* Current Project */

#currentProject > h1 {
    margin-left: 1rem;
    margin-top: 0.75rem;
}

#addTask {
    display: flex;
    align-items: center;
    margin: 0 1.5rem 1rem 1.5rem;
    border-radius: 1rem;
    border: 3px solid rgba(174, 174, 210, 0.526);
}

#addTask:hover {
    transition: 250ms;
    background-color: blueviolet;
}

#addTask > p {
    font-size: 1.75rem;
}


#taskCreator > form {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem 1rem 1.5rem;
    border: 3px solid rgba(174, 174, 210, 0.526);
    border-radius: 1rem;
    padding: 1rem 1rem 1rem;;
}

#taskCreator > form > label, #priorityContainer > label {
    font-size: 1.5rem;
}

#taskCreator > form > input{
    font-size: 1.25rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    border: 3px solid rgba(174, 174, 210, 0.526);
}

#priorityContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#btnsContainer {
    align-self: center;
    display: flex;
    gap: 2rem;
}

#createTaskBtn, #cancelTaskBtn {
    height: 2.25rem;
    width: 8rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

#createTaskBtn {
    background-color: rgba(0, 155, 0, 0.75);
}

#cancelTaskBtn {
    background-color: rgba(255, 43, 43, 0.750);
}

.taskContainer {
    background-color: red;
    margin: 0 1.5rem 1rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.75rem;
    font-weight: 300;
}

.taskContainer:hover {
    transition-duration: 250ms;
    background-color: blueviolet;
    border-radius: 1rem;
}

.taskEssentialInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskRightSideEssentialInfo, .taskLeftSideEssentialInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.taskLeftSideEssentialInfo {
    margin-left: .5rem;
}

.descriptionTask {
    margin-left: 1rem;
    font-size: 1.5rem;
    display: flex;
    flex: wrap;
}

@media all and (max-width: 450px) {
    main {
        flex-direction: column;
    }

    #sidebarTogglerMobile {
        scale: 1;
    }

    #sidebar {
        width: 100vw;
        padding: 0 0 0 0rem;
        scale: 0;
        position: absolute;
    }

    #sidebar.active {
        scale: 1;
        position: static;
    }

    #currentProject {
        width: 100vw;
        padding: 0 0 0 0 ;
    }
}